version: '2.1'

services:
  mysqldb:
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=blog
    healthcheck:
      test: "mysql -uroot -proot --execute \"SHOW DATABASES;\""
      interval: 5s
      timeout: 1s
      retries: 15

  blog:
    depends_on:
      mysqldb:
        condition: service_healthy
    build:
      context: .
      args:
        - port=8000
        - mysql_host=mysqldb
        - mysql_database=blog
        - mysql_user=root
        - mysql_password=root
    links:
      - mysqldb:mysqldb
    ports:
      - "8000:8000"
