<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Verification Here -->
    <meta name="google-site-verification" content="3lJ_1tiQG0iSQxh3QEwJVh95kN7gcjQatWeBij3sfUM" />
    <!-- Title -->
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5/MPhcu5PtijW3XQzMbwUJshIZS5VzRn+lpMXRN8EnZpxBc8yDYiGkTj7pTWBXQ" crossorigin="anonymous">

    <!-- Pretty Print CDN -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="{{ static_url('css/blog.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url('css/prettyprint.css') }}" type="text/css"/>
    <!-- XML Feed -->
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings['blog_title']) }}"/>
    {% block head %}{% end %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">SqweebNet</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/archive">Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://music.sqweeb.net">Music</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if current_user %}
            <li class="nav-item">
                <a href="/compose" class="nav-link">{{ _("New post") }}</a>
            </li>
            <li class="nav-item">
                <a href="/auth/logout?next={{ url_escape(request.uri) }}" class="nav-link">{{ _("Sign out") }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="/auth/login" class="nav-link">Sign in</a>
            </li>
            {% end %}
        </ul>
    </div>
</nav>
<div class="container" id="content">
    <br>
    {% block body %}{% end %}
</div>
{% block bottom %}{% end %}
</body>
</html>
