{% extends "base.html" %}

{% block body %}
    <script src="{{ static_url("js/audiojs/audio.min.js") }}"></script>
    <script src="{{ static_url("js/track.js") }}"></script>
    <script>
      audiojs.events.ready(function() {
        var as = audiojs.createAll();
      });
    </script>
    <p>Stream: <span id="server-name"></span> - <span id="description"></span></p>
    <p>Bitrate: <span id="bitrate"></span>kbps</p>
    <p>Genre: <span id="genre"></span></p>
    <p>Listeners: <span id="listeners"></span></p>
    <p>Current track: <span id="track-title"></span></p>
    <audio src="http://sqweeb.net:8000/radio" type="audio/mp3" ></audio>

{% end %}
